.centro{
	text-align: center;
}

#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index: 2;
}


/* Class change state*/
.changeEstate {
    text-decoration: line-through;
    color: #D2D2D2;
}